* {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    margin-top: 40px;
}

.cafe-almoco {
    margin: 80px 3px 3px 3px;

    flex-direction: row;
    gap: 6px;

}

title, p {
    color: #44A49B;
    font-size: 30px;
}

@media screen and (mix-width: 768px) {}