<!-- <app-titulo [textoDoBotao]="'Funcionários'"></app-titulo>

<app-input [(ngModel)]="requestLogin.email" [ngModelOptions]="{ standalone: true }"
placeholder="Nome" name="name"></app-input>
<app-input [(ngModel)]="requestLogin.password" [ngModelOptions]="{ standalone: true }" type="password"
placeholder="Email" name="email"></app-input>
<app-input [(ngModel)]="requestLogin.email" [ngModelOptions]="{ standalone: true }"
placeholder="Senha" name="password"></app-input>
<app-input [(ngModel)]="requestLogin.password" [ngModelOptions]="{ standalone: true }" type="password"
placeholder="Cargo" name="ole"></app-input>

<app-botao-enviar [textoDoBotao]="'CADASTRAR'" type="submit"></app-botao-enviar>
 -->



