* {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #44A49B;
    font-size: 30px;
    font-weight: bold;
    flex-direction: column;
    
}
.titulo {
    margin: 120px 0 60px 0;
}
.titulo2 {
    margin: 40px 0 15px 0;
}

.listaFuncionarios{
background-color: white;    
width: 330px;
border-radius: 5px;
border: 2px solid #100712;
font-size: 20px;
height: 50px;
}
