<app-titulo [textoDoBotao]="'Novo Funcionario'" class="titulo"></app-titulo>

<app-input [(ngModel)]="requestCadastroFuncionario.name" [ngModelOptions]="{ standalone: true }" placeholder="Digite o nome" name="name"></app-input>
<app-input [(ngModel)]="requestCadastroFuncionario.email" [ngModelOptions]="{ standalone: true }" placeholder="Digite o e-mail" name="email"></app-input>
<app-input [(ngModel)]="requestCadastroFuncionario.password" [ngModelOptions]="{ standalone: true }"placeholder="Digite a senha" name="password"></app-input>
<app-input [(ngModel)]="requestCadastroFuncionario.role" [ngModelOptions]="{ standalone: true }" placeholder="Digite o cargo" name="role"></app-input>

<app-botao-enviar [textoDoBotao]="'CADASTRAR'" (click)="cadastrarFuncionario()"></app-botao-enviar>

<app-titulo [textoDoBotao]="'Funcionários'" class="titulo2"></app-titulo>

<ul>
    <li *ngFor="let usuario of usuarios" (click)="abrirModal(usuario)" class="listaFuncionarios">{{ usuario.role}} - {{usuario.name }}</li>
</ul>

<app-modal [modalTitle]="modalTitle" [modalBody]="modalBody" [modalBody2]="modalBody2" [modalAberto]="modalAberto"></app-modal>


