<div>
    <title> Olá Admin! </title>
    <p>Selecione uma opção:</p>
    <div class="nav">
        <app-titulo (click)="navigateTo('/funcionarios')" [textoDoBotao]="'Funcionários'"></app-titulo>
        <app-titulo (click)="navigateTo('/menu')" [textoDoBotao]="'Itens do Menu'"></app-titulo>
        <app-titulo (click)="navigateTo('/pedidos-em-andamento')" [textoDoBotao]="'Pedidos em Andamento'"></app-titulo>
        <app-titulo (click)="navigateTo('/pedidos-concluidos')" [textoDoBotao]="'Pedidos Concluídos'"></app-titulo>
    </div>
    <img [src]="imageUrl" alt="Minha Imagem" class="img-inicial">
</div>