<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Cargo</th>
      <th>Nome e Email</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="tabelaItens.length > 0; else loading">
      <tr *ngFor="let item of tabelaItens; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.role }}</td>
        <td>{{ item.name }} - {{ item.email }}</td>
      </tr>
    </ng-container>
    <ng-template #loading>
      <tr>
        <td colspan="3">Carregando...</td>
      </tr>
    </ng-template>
  </tbody>
</table>
