<form (ngSubmit)="login()">
  <div>
    <img [src]="imageUrl" alt="Minha Imagem">
    <app-input [(ngModel)]="requestLogin.email" [ngModelOptions]="{ standalone: true }"
      placeholder="Digite seu email" name="email"></app-input>
    <app-input [(ngModel)]="requestLogin.password" [ngModelOptions]="{ standalone: true }" type="password"
      placeholder="Digite sua senha" name="password"></app-input>
    <app-botao-enviar [textoDoBotao]="'ENVIAR'" type="submit"></app-botao-enviar>
  </div>
</form>
