* { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    margin-top: 40px;
}

.nav {
    margin: 80px 3px 3px 3px;
}

@media screen and (mix-width: 768px) {}